{% extends 'content.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock%}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'categories:list' %}">PY_JUNE</a> / 
  <a href="{% url 'categories:detail' category_slug=post.category.slug %}">{{ post.category }}</a> / 
  <span class="active">{{ post.title }}</span>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s6 offset-s9">
        {% if request.user.is_authenticated and request.user.id == post.author.id %}
          <a href="{% url 'posts:update' post_slug=post.slug %}" class="waves-effect waves-light btn">{% trans "Edit" %}</a>
          <a href="{% url 'posts:delete' post_slug=post.slug %}"
             class="waves-effect waves-light btn red darken-2">{% trans "Delete" %}</a>
        {% endif %}
      </div>
</div>

<div id="category-details">
    <div class="row">
      <div class="col s10">
        <h1>{{ post.title }}</h1>
        <hr>
        <h2>{{ post.content }}</h2>
      </div>
      <div class="input-field col s2 ">
        <ul>
          <li>
            <i class="tiny material-icons">person</i>
            {{ post.author }}
          </li>
          <li>
            <i class="tiny material-icons">access_time</i>
            {{ post.updated_at|date:"SHORT_DATETIME_FORMAT" }}
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <form method="post" class="create-comment-form">
          {% csrf_token %}
          {% crispy form %}
        </form>
      </div>
    </div>

  <div class="row">
    <div class="col s12 center">
      <table class="striped">
        <thead>
          <tr>
            <th></th>
            <th>Answered</th>
            <th>Button</th>
          </tr>
        </thead>
        <tbody>
          {% for comment in post.comments.all %}
            <tr>
              <td>
                {{ comment.content }}
              </td>
              <td>
                <ul>
                  <li>
                    <i class="tiny material-icons">access_time</i>
                    {{comment.updated_at|date:"d/m H:i"}}
                  </li>
                  <li>
                    <i class="tiny material-icons">person</i>
                    {{ comment.author }}
                  </li>
                </ul>
              </td>
              <td>
                <a href="{% url 'posts:details' post_slug=comment.post.slug %}?#answer-comment-form" class="waves-effect waves-light btn">
                  {% trans "Answer" %}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <form method="post" class="create-comment-form" id="answer-comment-form">
        {% csrf_token %}
        {% crispy form %}
      </form>
    </div>
  </div>

</div>
{% endblock %}
