{% load i18n %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
  <link rel="stylesheet" href="{% static 'css/post-details.css' %}">
{% endblock %}

<h1>{% trans "Update" %} {{ post.title }}</h1>
<hr>
<form method="post" id="editPostForm" class="update-post-form">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <input class="btn" type="submit" id="saveFormBtn" value="{% trans 'Submit' %}">
    <a href="{% url 'posts:details' post_slug=post.slug %}" class="btn waves-effect waves-light red darken-2">
      {% trans "Cancel" %}
    </a>
</form>
