{% if user.is_authenticated %}
    {% if post_id %}
    <div id="like-count">
        <form method="post" hx-post="/reactions/like/{{ post_id }}" hx-target="#like-count" hx-swap="outerHTML">
            {% csrf_token %}
            <button type="submit" class="like-btn">
                {% if is_liked %}
                    <i class="small material-icons" style="color: red;">favorite</i>
                {% else %}
                    <i class="small material-icons" style="color: #fff;">favorite_border</i>
                {% endif %}
                <div class="likes-count" style="color: #fff;">
                    {{ like }}
                </div>
            </button>
        </form>
    </div>
    {% else %}
    <div id="like-count">
        <form method="post" hx-post="/reactions/like/{{ post.id }}" hx-target="#like-count" hx-swap="outerHTML">
            {% csrf_token %}
            <button type="submit" class="like-btn">
                {% if is_liked %}
                    <i class="small material-icons" style="color: red;">favorite</i>
                {% else %}
                    <i class="small material-icons" style="color: #fff;">favorite_border</i>
                {% endif %}
                <div class="likes-count" style="color: #fff;">
                    {{ like }}
                </div>
            </button>
        </form>
    </div>
    {% endif %}
{% else %}
    <form>
        <button type="button" class="like-btn">
            <i class="small material-icons" style="color: #fff;">favorite_border</i>
            <div class="likes-count" style="color: #fff;">
                {{ like }}
            </div>
        </button>
    </form>
{% endif %}