#category-details {
  h1 {
    margin: 0;
    font-size: 1.8rem;
  }

  h2 {
    margin: 0.5em 0 0 0;
    font-size: 1.2rem;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
    color: var(--primary-color);
    text-decoration: underline;
  }

  ul {
    margin: 0;
  }

  table {
    td:first-child {
      width: 60%;
    }

    td:nth-child(2), th:nth-child(2) {
      text-align: center;
    }
  }

  .active-page {
    background-color: var(--brand-bg-color);
    font-weight: normal;
    padding: 0 5px;
  }

  .inactive-page {
    font-weight: normal;
  }

  a {
    color: var(--brand-color);
    text-decoration: underline;
  }

  .create-post-btn-div {
    margin-top: 7px;
  }

  .create-post-btn {
    color: var(--btn-color);
    text-decoration: none;
  }
}