#post-details {
  h1 {
    margin: 0;
    font-size: 1.8rem;
  }

  h2 {
    margin: 0.5em 0 0 0;
    font-size: 1.2rem;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
    color: var(--primary-color);
    text-decoration: underline;
  }

  table {
    td {
      vertical-align: top;
      padding: 0;

      &:first-child {
        width: 180px;
      }
    }
  }

  hr {
    border-color: var(--primary-bg-color);
  }

  .post-details-row {
    background-color: var(--secondary-bg-color);
  }

  .post-details-Ñol {
    display: flex;
    flex-direction: row;
    height: auto;
  }

  .post-user-info{
    width: 180px;
  }

  .post-details-info {
    padding-top: 10px;
    flex-grow: 1;
    border-left: 3px solid var(--primary-bg-color);
  }

  .reply {
    text-align: right;
    margin: 1em 0;
  }

  a {
    color: var(--brand-color);
    text-decoration: underline;
  }

  blockquote {
    border-left: 5px solid var(--primary-color);
  }

  #reply-post-btn, .reply-comment-btn {
    i {
      font-size: 1rem;
    }
  }

  .section.content {
    padding-top: 0;
  }

  .like-btn {
    border: none;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }
}

table.striped > tbody > tr:nth-child(odd) .comment-text {
  border-left: 3px solid var(--primary-bg-color);
}

table.striped > tbody > tr:nth-child(even) .comment-text {
  border-left: 3px solid var(--secondary-bg-color);
}

.comment-text {
  padding: 0 1.2rem !important;
  width: 100%;
  min-height: 290px !important;

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

    li {
      display: list-item;
      list-style-type: disc;
    }
  }
}

.django-ckeditor-widget {
  display: block !important;
}

#post-details {
  .active-page {
    background-color: var(--brand-bg-color);
    font-weight: normal;
    padding: 0 5px;
  }

  .inactive-page {
    font-weight: normal;
  }
}
