{% if user.is_authenticated %}
    <form action="{% url 'reactions:like_comment' post.slug comment.id %}"
          method="post">
        {% csrf_token %}
        <button type="submit" class="like-btn">
            {% if comment.user_like %}
                <i class="small material-icons" style="color: red;">favorite</i>
            {% else %}
                <i class="small material-icons"
                   style="color: #fff;">favorite_border</i>
            {% endif %}
            <div class="likes-count" style="color: #fff;">
                {{ comment.comment_likes }}
            </div>
        </button>
    </form>
{% else %}
    <form>
        <button type="button" class="like-btn">
            <i class="small material-icons" style="color: #fff;">favorite_border</i>
            <div class="likes-count" style="color: #fff;">
                {{ comment.comment_likes }}
            </div>
        </button>
    </form>
{% endif %}
