{% if user.is_authenticated %}
    <div id="like-comment-{{ comment.id }}">
        <form method="post" hx-post="/reactions/like-comment/{{ comment.id }}">
            {% csrf_token %}
            <button type="submit" class="like-btn">
                {% if comment.user_like %}
                    <i class="small material-icons" style="color: red;">favorite</i>
                {% else %}
                    <i class="small material-icons"
                       style="color: #fff;">favorite_border</i>
                {% endif %}
                <div class="likes-count" style="color: #fff;">
                    {{ comment.comment_likes }}
                </div>
            </button>
        </form>
    </div>
{% else %}
    <form>
        <button type="button" class="like-btn">
            <i class="small material-icons" style="color: #fff;">favorite_border</i>
            <div class="likes-count" style="color: #fff;">
                {{ comment.comment_likes }}
            </div>
        </button>
    </form>
{% endif %}
