{% extends 'content.html' %}
{% load static %}
{% load i18n %}

{% block link %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
{% endblock %}

{% block title %}
  {% trans "Forum" %}
{% endblock %}

{% block body %}
  <div class="container content">
    <div class="row">
      <div class="col s12">
          {% block subscription_link %}
            {% include "subscription/subscription_link.html" %}
          {% endblock %}
        <div class="section content" id="forum-content">
          {% for main_category in main_categories %}
            <h2>{{ main_category.title }}</h2>
            <hr>
            <table class="striped">
              <thead>
              <tr>
                <th></th>
                <th>{% trans "Posts" %}</th>
                <th>{% trans "Comments" %}</th>
                <th>{% trans "Last comment" %}</th>
              </tr>
              </thead>
              <tbody>
              {% for category in categories %}
                {% if category.main_category == main_category %}
                  <tr>
                    <td>
                      <ul>
                        <li>
                          <a href="{% url 'categories:detail' category_slug=category.slug %}" class="category-title">
                            <h3>{{ category.title }}</h3>
                          </a>
                        </li>
                        <li>{{ category.description }}</li>
                      </ul>
                    </td>
                    <td>{{ category.post_count }}</td>
                    <td>{{ category.comment_count }}</td>
                    <td>
                      <ul>
                        <li><i class="tiny material-icons">access_time</i>
                          {{ category.last_comment_dt|date:"SHORT_DATETIME_FORMAT" }}
                        </li>
                        <li>
                          <i class="tiny material-icons">edit</i>
                          {% if category.last_comment_username %}
                            <a href="{% url 'profile:profile' category.last_comment_username %}">
                              {{ category.last_comment_username }}
                            </a>
                          {% endif %}
                        </li>
                      </ul>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}