{% load static %}
{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'meta.html' %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection">
  {% block link %}
  {% endblock %}
  <title>{% block title %}py_june: Community Forum for Junior Python Developers{% endblock %}</title>
</head>
{% include 'header.html' %}
<body>
{% block body %}
{% endblock %}
{% include 'footer.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block script %}
{% endblock %}
</body>
</html>
