{% load i18n %}

<nav class="nav" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="{% url 'home' %}" class="brand-logo">py_june</a>
    <ul class="right hide-on-med-and-down">
        <li>
          <a href="{% url 'search:search' %}"><i class="material-icons">search</i></a>
        </li>
      {% if request.LANGUAGE_CODE == 'uk' %}
        <li><a id="change-language" href="/">uk</a></li>
      {% else %}
        <li><a id="change-language" href="/uk/">en</a></li>
      {% endif %}
      <li><a href="{% url 'categories:list' %}">{% trans "Forum" %}</a></li>
      {% if user.is_authenticated %}
        <li>
          <a href="{% url 'profile:profile' user.username %}">
            {% trans "My profile" %}
          </a>
        </li>
        <li>
          <a href="#" onclick="document.getElementById('logoutForm').submit();">
            {% trans "Logout" %}
          </a>
        </li>
        <form id="logoutForm" method="post" action="{% url 'account_logout' %}" style="display: none;">
          {% csrf_token %}
        </form>
      {% else %}
        <li><a href="{% url 'account_login' %}">{% trans "Login" %}</a></li>
        <li><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
      {% endif %}
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li>
        <a href="{% url 'categories:list' %}">
          {% trans "Forum" %} 
        </a>
      </li>
      {% if user.is_authenticated %}
        <li>
          <a href="{% url 'profile:profile' user.username %}">
            {% trans "My profile" %}
          </a>
        </li>
        <li>
          <a href="#" onclick="document.getElementById('logoutForm').submit();">
            {% trans "Logout" %}
          </a>
        </li>
        <form id="logoutForm" method="post" action="{% url 'account_logout' %}" style="display: none;">
          {% csrf_token %}
        </form>
      {% else %}
        <li>
          <a href="{% url 'account_login' %}">
            {% trans "Login" %}
          </a>
        </li>
        <li>
          <a href="{% url 'account_signup' %}">
            {% trans "Sign up" %}
          </a>
        </li>
      {% endif %}
      {% if request.LANGUAGE_CODE == 'uk' %}
        <li><a href="/">Українська</a></li>
      {% else %}
        <li><a href="/uk/">English</a></li>
      {% endif %}
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>