{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
  {% trans "Home" %}
{% endblock %}

{% block body %}
  <div class="home">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h1 id="slogan">{% trans "PY_JUNE - Code, Learn, and Grow Together!" %}</h1>
          </div>
        </div>
      </div>
    </div>

    <div id="index-banner" class="parallax-container">
      <div class="section">
        <div class="container">
          <div class="row center">
            <h3
              class="header col s12 light">{% trans "There should be one-- and preferably only one --obvious way to do it." %}</h3>
          </div>
          <div class="row center">
            <a href="{% url "posts:create" category_slug="general-coding-help" %}"
               class="btn waves-effect"><h4>{% trans "Ask question" %}</h4></a>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="{% static 'images/background3.jpg' %}" alt=""></div>
    </div>

    <div class="container">
      <div class="section">
        <div class="row" id="row-info">

          <div class="col s12 m4" id="last-posts">
            <div class="icon-block">
              <h2>
                <span><i class="material-icons">flash_on</i></span>
                {% trans "Last posts" %}
              </h2>
              <ul>
                {% for post in last_posts %}
                  <li>
                    <i class="tiny material-icons">access_time</i> {{ post.created_at|date:"d/m" }} -
                    <a href="{% url 'posts:details' post_slug=post.slug %}">{{ post.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="col s12 m4" id="most-hot">
            <div class="icon-block">
              <h2>
                <span><i class="material-icons">trending_up</i></span>
                {% trans "Most hot" %}
              </h2>
              <ul>
                {% for post in most_hot %}
                  <li>
                    <a href="{% url 'posts:details' post_slug=post.slug %}">{{ post.title }}</a>
                    <i class="tiny material-icons">comment</i> {{ post.comment_count }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="col s12 m4" id="need-help">
            <div class="icon-block">
              <h2>
                <span><i class="material-icons">help_outline</i></span>
                {% trans "Need help" %}
              </h2>

              <ul>
                {% for post in need_help_posts %}
                  <li>
                    <i class="tiny material-icons">access_time</i>
                    {{ post.created_at|date:"d/m" }} {{ post.created_at|time:"H:i" }} -
                    <a href="{% url 'posts:details' post_slug=post.slug %}">{{ post.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section">
        <div class="container">
          <div class="row center">
            <h3 class="header col s12 light">{% trans "Beautiful is better than ugly." %}</h3>
          </div>
          <div class="row center">
            <a href="{{ answer_question_url }}"
               class="btn waves-effect"><h4>{% trans "Answer question" %}</h4></a>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="{% static 'images/background3.jpg' %}" alt=""></div>
    </div>

    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col s12" id="user-activities">
            <h2>User activities</h2>
            <table class="striped">
              <tbody>
              {% for comment in user_activities %}
                <tr>
                  <td>
                    <ul>
                      <li>
                        <i class="tiny material-icons">access_time</i>
                        {{ comment.created_at|date:"d/m" }}
                        {{ comment.created_at|time:"H:i" }}
                      </li>
                      <li><i class="tiny material-icons">person</i>
                        {{ comment.author.username }}</li>
                    </ul>
                  </td>
                  <td>
                    <a href="{% url 'posts:details' post_slug=comment.post.slug %}?#{{ comment.id }}">
                      {{ comment.content|truncatewords:30 }}
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section">
        <div class="container">
          <div class="row center">
            <h3 class="header col s12 light">{% trans "Simple is better than complex." %}</h3>
          </div>
          <div class="row center">
            <a href="https://t.me/+Scsb8134gLtmYzhi" target="_blank"
               class="btn waves-effect"><h4>{% trans "Chat" %}</h4></a>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="{% static 'images/background3.jpg' %}" alt="Unsplashed background img 3"></div>
    </div>

  </div>
{% endblock %}