<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description"
      content="Join py_june, a vibrant forum dedicated to supporting junior Python developers. Discover resources, get coding help, and connect with a community of peers and experts to boost your Python skills.">
<meta property="og:title" content="py_june: Community Forum for Junior Python Developers"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://py-june.dev/"/>
<meta property="og:description"
      content="Join py_june, a vibrant forum dedicated to supporting junior Python developers. Discover resources, get coding help, and connect with a community of peers and experts to boost your Python skills."/>
<meta property="og:site_name" content="py_june"/>