{% extends 'content.html' %}
{% load i18n %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block title %}
    {{ context.username }}
{% endblock %}

{% load crispy_forms_tags %}

{% block body %}
<div class="edit-profile-page">
    <div class="container">
        <form method="post" name="post-edit-form" class="edit-profile-form" enctype="multipart/form-data">
            {% if user.avatar %}
                <div class="row center">
                    <img id="avatar-image" src="{{ user.avatar.url }}" class="rounded-circle profile-picture" width="256" height="256">
                </div>
            {% else %}
                <div class="no-profile-picture">
                    <i class="large material-icons">perm_identity</i>
                </div>
            {% endif %}
            {% csrf_token %}
            <div class="change-avatar">
                {{ avatar_form.as_p }}
            </div>
            <div class="change-avatar-button">
                <label for="id_avatar">
                    <span class="btn" aria-hidden="true">Change profile picture</span>
                    <input type="file" name="avatar" accept="image/*" id="id_avatar" style="display: none;">
                </label>
            </div>
            <br />
            {% crispy user_form %}
        </form>
    </div>
</div>

{% block scripts %}
  <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% endblock %}
