{% extends 'content.html' %}
{% load static %}
{% load i18n %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/subscription_post_list.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <div class="container content">
        <div class="row">
            <div class="col s12">
                <div class="section content" id="forum-content">
                    {% for category in subscribed_categories %}
                        <a href="{% url 'categories:detail' category_slug=category.slug %}"
                           class="category-title"><h1>{{ category.title }}</h1>
                        </a>
                        <hr>
                        <h3>{{ category.description }}</h3>
                        <table class="striped">
                            <tbody>
                            {% for post in posts %}
                                {% if post.category == category %}
                                    <tr>
                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="{{ post.get_absolute_url }}" class="category-title">
                                                        <h2>{{ post.title }}</h2>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="created-at">
                                            <h4>{{ post.created_at }}</h4>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}