{% extends 'content.html' %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}
{% trans "Edit Comment" %}
{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'posts:details' post_slug=post.slug %}">{{ post }}</a>
  / <span class="active">Edit Comments</span>
{% endblock %}

{% block content %}
     <div class="col s6">
            <a href="{% url 'posts:details' post_slug=post.slug %}"
               class="btn waves-effect waves-light red darken-2">{% trans "Cancel" %}</a>
     </div>
    <div class="row">
        <div class="col s12">
            <h1>{% trans "Edit Comment" %} {{ post.title }}</h1>
            <form method="post" class="update-comment-form">
              {% csrf_token %}
              {% crispy form %}
            </form>
        </div>
    </div>
{% endblock %}
